-@model IEnumerable<EcuaDeliveryV3.PROVEEDOR>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PRV_NOMBRE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRV_RUC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRV_TELEFONO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRV_EMAIL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRV_DESCRIPCION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRV_CONTRASENA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRV_DIRECCION)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PRV_NOMBRE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRV_RUC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRV_TELEFONO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRV_EMAIL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRV_DESCRIPCION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRV_CONTRASENA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRV_DIRECCION)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PRV_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PRV_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PRV_ID })
        </td>
    </tr>
}

</table>
