@model IEnumerable<EcuaDeliveryV3.USUARIO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.USU_NOMBRE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.USU_APELLIDO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.USU_CEDULA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.USU_TELEFONO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.USU_EMAIL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.USU_CONTRASENA)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.USU_NOMBRE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.USU_APELLIDO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.USU_CEDULA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.USU_TELEFONO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.USU_EMAIL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.USU_CONTRASENA)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.USU_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.USU_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.USU_ID })
        </td>
    </tr>
}

</table>
